.links[data-position="footer"] .link {
	color: var(--clr-white);
}

.links[data-position="footer"] .link:hover {
	color: var(--clr-black);
	background-color: var(--clr-white);
}

.link {
	font: var(--ts-mobile-menu);
	color: var(--clr-black);
	text-transform: capitalize;
	letter-spacing: var(--letter-spacing);
	display: block;
	text-decoration: none;
	padding: 1rem 0;
	transition: var(--transition);
}

.link:hover {
	background-color: var(--clr-primary-1);
	color: var(--clr-white);
	padding-left: 1.6rem;
}

@media screen and (min-width: 800px) {
	.links {
		display: flex;
	}

	.links[data-position="footer"] {
		display: block;
	}

	.link {
		font: var(--ts-desktop-menu);
		padding: 3.2rem 1rem;
	}

	.link:hover {
		padding: 3.2rem 1rem;
	}

	.links[data-position="footer"] .link {
		padding: 1rem 0;
	}

	.links[data-position="footer"] .link:hover {
		padding-left: 1.6rem;
	}
}
